body {
  margin: 0;
  font-family: "Chakra Petch", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #CFD8DC;
  /* text-align: left; */
  background-color: #000000; }

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.warning-card {
    width: 300px;
    height: 175px;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #ffea00; */
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #1212129c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
}

.warning-card form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.error-text {
  color: red;
}

.center-input {
  color: #CFD8DC;
  border: 1px solid #ccc;
  background: black;
  border-radius: 25px;
  font-size: 14px;
  text-align: center;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
}

/* 
.frank-ruhl {
  font-family: "Frank Ruhl Libre", serif;
  font-optical-sizing: auto;
  font-style: normal;
  // font-weight: <weight>; 
}

.courgette-regular {
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal;
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
} */



/* 
.chakra-petch-light {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.chakra-petch-regular {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.chakra-petch-medium {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.chakra-petch-semibold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.chakra-petch-bold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: normal;
} */
